<template>
  <div class="tables-basic">
    <b-row>
      <b-col lg="12">
        <b-row>
          <b-col sm="12" md="4" class="mt-2 pr-0">
            <b-form-select v-model="selected" :options="options"></b-form-select>
          </b-col>
          <b-col sm="12" md="6" class="mt-2 pr-0">
            <b-form-input
                id="input-2"
                v-model="text"
                required
                placeholder="Busqueda..."
                v-on:keyup.enter='findData'
            ></b-form-input>
          </b-col>
          <b-col sm="12" md="2" class="mt-2 pr-0">
            <b-button variant="primary" block v-on:click="findData">Buscar</b-button>
          </b-col>
          <b-col class="mt-2">
            <b-alert v-if="error" show variant="danger">{{ error }}</b-alert>
          </b-col>
        </b-row>
      </b-col>
      <b-col lg="12">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>#</th>
              <th>Placa</th>
              <th>Marca</th>
              <th>Tipo Vehiculo</th>
              <th>Propietario</th>
              <th>Identificacion</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <tr v-for="row in tableStyles" :key="row.id">
              <td>{{ row.id }}</td>
              <td>
                {{ row.placa }}
              </td>
              <td>
                {{ row.brand }}
              </td>
              <td>
                {{ row.type_vehicle }}
              </td>
              <td>
                {{ row.owner.name }}
              </td>
              <td>
                {{ row.owner.identification }}
              </td>
            </tr>
            </tbody>
          </table>
          <b-alert v-if="tableStyles.length<=0" show variant="dark">No hay registros encontrados</b-alert>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import Widget from '@/components/Widget/Widget';
import Sparklines from '../../../../components/Sparklines/Sparklines'
import axios from "axios";

export default {
  name: 'Search',
  components: {Widget, Sparklines},
  data: function () {
    return {
      tableStyles: [],
      selected: null,
      error: false,
      empyData: true,
      text: '',
      placeholder: null,
      options: [
        {value: null, text: 'Seleccione una opcion de busqueda'},
        {value: 'PLACA', text: 'Placa del vehiculo'},
        {value: 'NAME', text: 'Nombre del propietario'},
        {value: 'IDENTIFICATION', text: 'Identificacion del propietario'},
      ]

    };
  },
  methods: {
    findData() {
      if (this.selected != null && this.text !== "") {
        this.error = false;
        axios.get("http://127.0.0.1:8000/api/vehicle/find",
            {
              params: {
                find: this.selected,
                text: this.text
              }
            }).then((result) => {
          //window.console.log(result.data);
          let data = [];
          (result.data.vehicle).forEach(function (key, value) {
            window.console.log(key, value)
            data.push({
              id: value + 1,
              placa: key.placa.toUpperCase(),
              brand: key.brand[0].toUpperCase() + key.brand.slice(1).toLowerCase(),
              type_vehicle: key.type_vehicle.toUpperCase(),
              owner: key.owner,
            });

          });
          this.tableStyles = data;
          window.console.log(this.tableStyles);

        }).catch(function (error) {
          window.console.log(error);
        })
      } else {
        this.error = "Seleccione un filtro de busqueda"
      }
    }
  },
  mounted() {
  }
};
</script>

<style src="./Search.scss" lang="scss" scoped/>
