<template>
  <b-list-group class="listGroup thin-scroll">
    <b-list-group-item class="listGroupItem bg-warning-light">
      <span class="notificationIcon thumb-sm">
        <img class="rounded-circle" src="../../../assets/people/a2.jpg" alt="..."/>
        <i class="status status-bottom bg-success"/>
      </span>
      <time class="text-link help float-right">Hace 10 seg</time>
      <h6 class="m-0 fw-bold mb-1">Chris Gray</h6>
      <p class="deemphasize text-ellipsis m-0">Hola, tienes espacio disponible?</p>
    </b-list-group-item>sss

  </b-list-group>
</template>

<script>
export default {
  name: 'Messages',
};
</script>

<style src="./ListGroup.scss" lang="scss"/>
