<template>
  <b-list-group class="listGroup thin-scroll">

  </b-list-group>
</template>

<script>
export default {
  name: 'NotificationsList',
};
</script>

<style src="./ListGroup.scss" lang="scss"/>
