<template>
  <b-list-group class="listGroup thin-scroll">
    <b-list-group-item class="listGroupItem">
      <span class="text-muted float-right">60%</span>
      <h6 class="m-0 mb-1 text-gray">
        <strong>Cuota:</strong>
        &nbsp;Pago de prestamo
      </h6>
      <b-progress class="m-0" variant="primary" :value="60" :max="100"/>
      <span class="help-block">Cuota mensual de $10.000...</span>
    </b-list-group-item>
  </b-list-group>
</template>

<script>
export default {
  name: 'Progress',
};
</script>
