<template>
  <div class="">
    <h2 class="page-title">DEMO - <span class="fw-semi-bold">Logico</span></h2>
    <b-row>
      <b-col sm="12" md="6">
        <b-card class="mt-3" header="Dado el arreglo">
          <pre class="m-0">{{ arreglo }}</pre>
        </b-card>
      </b-col>
      <b-col sm="12" md="6">
        <b-card class="mt-3" header="Se genera el objeto">
          <pre class="m-0">{{ resultado }}</pre>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import Widget from '@/components/Widget/Widget';
import Sparklines from '../../components/Sparklines/Sparklines'
import Vue from 'vue';

export default {
  name: 'Logica',
  components: {Widget, Sparklines},
  data() {
    return {
      arreglo: [
        ["2018-12-01", "AM", "ID123", 5000],
        ["2018-12-01", "AM", "ID545", 7000],
        ["2018-12-01", "PM", "ID545", 3000],
        ["2018-12-02", "AM", "ID545", 7000]
      ],
      resultado: {}
    };
  },
  methods: {
    demo() {
      //agregar fecha
      for (let i = 0; i < this.arreglo.length; i++) {
        Vue.set(this.resultado, this.arreglo[i][0], {})
      }
      //agregar am y pm con suma
      for (let i = 0; i < this.arreglo.length; i++) {
        if (this.resultado[this.arreglo[i][0]][this.arreglo[i][1]]) {
          Vue.set(this.resultado[this.arreglo[i][0]], this.arreglo[i][1], this.resultado[this.arreglo[i][0]][this.arreglo[i][1]] + this.arreglo[i][3])
        } else {
          Vue.set(this.resultado[this.arreglo[i][0]], this.arreglo[i][1], this.arreglo[i][3])
        }
      }

    },
  },
  mounted() {
    this.demo()
  }
}
</script>

<style src="./Logica.scss" lang="scss" scoped/>
