<template>
  <div class="container-fluid">
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <b-alert v-if="error!==''" show variant="danger">{{ error }}</b-alert>
      <b-alert v-if="success" show variant="success">Vehiculo registrado con exito</b-alert>

      <b-row>
        <b-col sm="12" md="12" lg="12">
          <b-form-group label="Propietario del vehiculo:"/>
        </b-col>
        <b-col sm="12" md="12" lg="6">
          <b-form-group
              id="input-group-7"
              label="Identificacion:"
              label-for="input-1"
          >
            <b-form-input
                id="input-1"
                v-model="form.identification"
                type="text"
                required
                v-on:change="findData"
                placeholder="ingrese la Identificaicon"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col sm="12" md="12" lg="6">
          <b-form-group
              id="input-group-8"
              label="Nombre:"
              label-for="input-1"
          >
            <b-form-input
                id="input-1"
                v-model="form.name"
                type="text"
                required
                :disabled="form.owner_id!=null"
                placeholder="Ingrese el nombre"
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col sm="12" md="12" lg="12">
          <b-form-group label="Informacion del vehiculo:"/>
        </b-col>
        <b-col sm="12" md="6" lg="4">
          <b-form-group
              id="input-group-1"
              label="Placa:"
              label-for="input-1"
          >
            <b-form-input
                id="input-1"
                v-model="form.placa"
                type="text"
                required
                placeholder="Dijite la placa"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col sm="12" md="6" lg="4">
          <b-form-group id="input-group-2" label="Marca:" label-for="input-2">
            <b-form-input
                id="input-2"
                v-model="form.brand"
                required
                placeholder="Ingrese la marca del vehiculo"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col sm="12" md="12" lg="4">
          <b-form-group id="input-group-3" label="Tipo de vehiculo:" label-for="input-3">
            <b-form-select
                id="input-3"
                v-model="form.type_vehicle"
                :options="vehicles"
                required
            ></b-form-select>
          </b-form-group>

        </b-col>
      </b-row>
      <div class="text-center">
        <b-button type="submit" variant="primary" class="m-1">Guardar</b-button>
        <b-button type="reset" variant="danger" class="m-1">Cancelar</b-button>
      </div>
    </b-form>

  </div>
</template>

<script>
import Widget from '@/components/Widget/Widget';
import Sparklines from '../../../../components/Sparklines/Sparklines'
import axios from "axios";

export default {
  name: 'Register',
  components: {Widget, Sparklines},
  data: function () {
    return {
      form: {
        placa: 'abc123',
        brand: 'MAzda',
        identification: '',
        name: '',
        type_vehicle: null,
        owner_id: null,
        checked: []
      },
      vehicles: [{text: 'Seleccione uno', value: null}, 'Carro', 'Camión ', 'Bus', 'Motocicleta'],
      show: true,
      error: '',
      success: false,
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
      this.error = '';
      this.success = false
      axios.post('http://127.0.0.1:8000/api/vehicle/', {
        placa: this.form.placa,
        brand: this.form.brand,
        type_vehicle: this.form.type_vehicle,
        owner_id: this.form.owner_id,
        name: this.form.name,
        identification: this.form.identification,
      }).then((result) => {
        window.console.log(result.data);
        this.error = ''
        this.success = true
      }).catch((error) => {
        window.console.log(error.response.data);
        for (let element of Object.keys(error.response.data.errors)) {
          window.console.log(error.response.data.errors[element]);
          this.error = error.response.data.errors[element][0];
          return;
        }
        this.success = false
      });
      //guardar
    },
    onReset(evt) {
      evt.preventDefault()
      // Reset our form values
      this.form.placa = ''
      this.form.brand = ''
      this.form.identification = ''
      this.form.name = ''
      this.form.type_vehicle = null
      this.form.vehicles = null
      this.form.checked = []
      this.form.owner_id = null
      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
      this.error = ''
      this.success = false
    },
    findData() {
      if (this.form.identification !== '') {
        axios.get("http://127.0.0.1:8000/api/vehicle/find",
            {
              params: {
                find: 'IDENTIFICATION',
                text: this.form.identification
              }
            }).then((result) => {
          window.console.log(result.data);
          if (result.data.owner) {
            this.form.owner_id = result.data.owner.id;
            this.form.name = result.data.owner.name;
          } else {
            this.form.owner_id = null;
            this.form.name = '';
          }
        }).catch(function (error) {
          window.console.log(error);
        })
      }
    }
  }
  ,
  mounted() {
  }
}
;
</script>

<style src="./Register.scss" lang="scss" scoped/>
