<template>
  <div class="tables-basic">
    <b-row>
      <b-col lg="12">
        <p>Vehículos existentes por cada marca.</p>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>#</th>
              <th>Marca</th>
              <th>Cantidad</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <tr v-for="row in tableStyles" :key="row.id">
              <td>{{ row.id }}</td>
              <td>
                {{ row.brand }}
              </td>
              <td>
                {{ row.size }}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import Widget from '@/components/Widget/Widget';
import Sparklines from '../../../../components/Sparklines/Sparklines'
import axios from "axios";

export default {
  name: 'TableBrans',
  components: {Widget, Sparklines},
  data: function () {
    return {
      tableStyles: [],
    };
  },
  methods: {
    getData() {
      axios.get("http://127.0.0.1:8000/api/vehicle/vehicleBrand").then((result) => {
        //window.console.log(result.data);
        let data = [];
        (result.data.vehicles).forEach(function (key, value) {
          //window.console.log(key, value)
          data.push({
            id: value + 1,
            brand: key.brand[0].toUpperCase() + key.brand.slice(1).toLowerCase(),
            size: key.total,
          })
        });
        this.tableStyles = data;

      })
    },
  },
  mounted() {
    this.getData();
  }
};
</script>

<style src="./TableBrands.scss" lang="scss" scoped/>
