<template>
  <div class="">
    <h2 class="page-title">Gestion - <span class="fw-semi-bold">Vehiculos</span></h2>
    <b-row>
      <b-col>
        <b-tabs>
          <b-tab title="Marcas" active>
            <h4>Marcas <span class="fw-semi-bold">Registradas</span></h4>
            <b-row class="container-fluid">
              <TableBrans></TableBrans>
            </b-row>
          </b-tab>
          <b-tab title="Busqueda">
            <h4>Buscar <span class="fw-semi-bold">Registros</span></h4>
            <b-row class="container-fluid">
              <Search></Search>
            </b-row>
          </b-tab>
          <b-tab title="Registro">
            <h4>Nuevo <span class="fw-semi-bold">Vehiculo</span></h4>
            <b-row class="container-fluid">
              <Register></Register>
            </b-row>
          </b-tab>
        </b-tabs>
      </b-col>

    </b-row>
  </div>
</template>

<script>
import Widget from '@/components/Widget/Widget';
import Sparklines from '../../components/Sparklines/Sparklines'
import TableBrans from './components/TableBrands/TableBrans'
import Search from './components/Search/Search'
import Register from './components/Register/Register'

export default {
  name: 'Tables',
  components: {Widget, Sparklines, TableBrans, Search, Register},
  data() {
    return {};
  },
  methods: {},
};
</script>

<style src="./Vehicle.scss" lang="scss" scoped/>
